@import url('https://fonts.googleapis.com/css?family=Be Vietnam Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.cdnfonts.com/css/digital-numbers');

@font-face {
  font-family: "Bmono";
  src: url("https://raw.githubusercontent.com/NNBnh/bmono/main/dist/bmono/woff2/bmono-regular.woff2") format("woff2");
}

@keyframes gradient {
    0% { background-position:   0% 0%; }
   25% { background-position: 50% 50%; }
  50% { background-position:   100% 100%; }
  75% { background-position: 50% 50%; }
  50% { background-position:   0% 0%; }
}

@keyframes    appear { from { width: 0; opacity: 0%; margin: 0; } }
@keyframes disappear { to   { width: 0; opacity: 0%; margin: 0; } }

@keyframes appearScale {
   0% { opacity: 0% }
  25% { opacity: 0%; transform: scale(50%); }
}

@keyframes arrow {
    0% { transform: translateX( 0.2em); }
   50% { transform: translateX(-0.2em); }
  100% { transform: translateX( 0.2em); }
}

* {
  font-family: Be Vietnam Pro;
}

a {
  color: black;
  transition: 250ms;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

.hide {
    opacity: 0;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient( #FFC387, #FA7883, #6BB8FF, #8AF5FF);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

h1{
    position: absolute;
    top: 20%;
    font-family: Bmono;
    font-weight: bold;
    font-size: 2em;
    color: black;
    transition: 250ms;
    animation: appearScale 500ms;
    margin-bottom: 2vh;
}

form{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
}

.redirect{
    font-size: 0.8em;
}

.redirect:hover{
    color: #5890F8;
}

.account{
    position: absolute;
    margin-left: 5vw;
    margin-top: 40vh;
}

.back{
    margin-top: 10vh;
    font-size: 0.75em;
    text-decoration: none;
}

.back:hover{
    color: #5890F8;
}

.wrapper{
    height: clamp(30vh, 40vw, 50vw);
    width: 30vw;
    background-color: #ffffff;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0.5em;
    outline: none;
    align-items: center;
    justify-content: center;
    animation: appear 250ms;
}

.dashboard-wrapper{
    height: 35vw;
    width: 80vw;
    background-color: #ffffff;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0.5em;
    outline: none;
    align-items: center;
    justify-content: center;
    animation: appear 250ms;
    padding: 2em;
}

.vehicle-container {
    position: relative;
    top: 12vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the top of the container */
    gap: 1em;
    background-color: #FA7883;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 10em;
    font-size: 0.85em;
    border-radius: 1em;
}

.vehicle {
    border: 1px solid #ccc;
    height: calc(2 * (10em + 2em));
    padding: 0.5em 0.5em;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    width: calc(25% - 1em); /* Adjust width to fit 4 columns with gaps */
    box-sizing: border-box;
    height: 10em;
    font-size: 0.em;
}

.popup{
    position: absolute;
    top: 0;
    left: 35vw;
    transform: translate(0,0) scale(0.000001);
    background-color: #ffffff;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0.5em;
    outline: none;
    padding: 2em;
    transition: transform 0.4s, top 0.4s, opacity 0.4s;
    z-index: 1000;
}

.open-popup {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 35vw;
    transform: translate(0, 0) scale(1.25);
    display: block;
}

.add{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    cursor: pointer;
    font-family: Bmono;
    font-weight: bold;
    color: #585858;
}

.add:hover{
    color: #5890F8;
}

.who-container {
    margin: 0;
    padding: 1em;
    position: absolute;
    display: flex;
    font-size: 2em;
    text-align: center;
}

.who-container a {
    width: 20vw;
    height: 20vh;
    background-color: #ffffff;
    margin: 0 1vw;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    border-radius: 0.2em;
    align-items: center;
    justify-content: center;
    animation: appearScale 500ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    text-align: center;
    display: flex; /* co flexbox ms ap dung cai text-align dc*/
}

.who-container a:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

#who-is{
    top: 20vh;
}

.input-container{
    top: 25vh;
}

.input-container input{
    width: 20vw;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #E0E0E0;
    border-radius: 0.2em;
    animation: appearScale  250ms;
}

.input-container input::placeholder{
    color: #6A6A6A;
    opacity: 1;
    font-family: Bmono;
    font-weight: bold;
    font-size: 1em;
}

.input-container input:hover::placeholder {
    color: #5890F8;
  }

.input-container input:focus::placeholder {
color: transparent;
}

.input-container[disabledd] {
    color: #585858;
    background: #E0E0E0;  
  }

.input-container .btn input{
    height: clamp(2vh, 3vw, 7vw);
    margin-top: 5vh;
    background-color: black;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
}

password-container{
    display: relative;
}

#dashboard-h1{
    top: 20%;
    font-family: Bmono;
    font-weight: bold;
    font-size: 2em;
    color: black;
    transition: 250ms;
    animation: appearScale 500ms;
}

#eye-icon{
    position: absolute;
    color: #6A6A6A;
    top: 53%;
    left: 58%;
    transform: translateY(-50%);
    display: flex;
    width: clamp(1em, 1.6vw, 2vw);
    height:  clamp(1em, 1.6vw, 2vw);
    opacity: 0.50;
    cursor: pointer;
    align-items: center;
}

#warningBar {
  height: 1.25em;
  padding: 0.25em;
  border-radius: 0.2em;
  background: black;
  color: white;
  transition: 250ms;
  animation: appearScale 500ms;
}

#warningBar i {
  margin: 0 0.25em;
}

.wrapper{
    height: 35vw;
    width: 80vw;
    background-color: #ffffff;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0.5em;
    outline: none;
    align-items: center;
    justify-content: center;
    animation: appear 250ms;
    padding: 2em;
}

.info{
    font-family: 'Inria Sans';font-size: 20px;
    flex: 1;
    padding: 20px;
    position: absolute;
    left: 10vw;

}

.info p {
    margin: 10px 0;
    font-size: 1.7em;
}

#violation_count {
    color: red;
}

.speed-display {
    background-color: #ffdcdc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50vw;
    height: 30vw;
    position: absolute;
    right: 10vw;
}

.curSpeed {
    font-family: 'Digital Numbers', sans-serif;
    font-size: 10em;
    margin: 0;
    position: relative;
    right: 11vw;
    top: 7.5vw;
    transition: color 0.3s;
}

.unit {
    font-size: 3em;
    margin: 0;
    position: relative;
    right: 7vw;
    top: 7vw;
    transition: color 0.3s;
}

.speedLimit {
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    border: 20px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: black;
    position: relative;
    left: 11vw;
    bottom: 10vw;
}

#test {
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: red;
    font-family: 'Inter';font-size: 25px; font-weight: bold;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
}

.redirect_vehicle {
    margin-top: 10vw;
    position: absolute;
    bottom: 8vw;
}

.redirect_vehicle a {
    color: black;
    text-decoration: none;
}

.redirect_vehicle a:hover {
    text-decoration: underline;
}