<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard-wrapper shadow">
    <h1 id="dashboard-h1" >Hello {{ current_user.username }}. You are logged in.</h1>
    
    <div class="vehicle-container">
        {% for vehicle in vehicles %}
        <div class="vehicle">
            <p>Vehicle Name: {{ vehicle.vehicleName }}</p>
            <p>Speed Limit: {{ vehicle.speedLimit }}</p>
            <a class="redirect" href="{{ url_for('vehicle', code=vehicle.code) }}">Code: {{ vehicle.code }}</a>
            <a class="redirect" href="{{ url_for('delete_vehicle', vehicle_id=vehicle.id) }}">Delete</a>

        </div>
        {% endfor %}
        <button type="submit" class="vehicle add" onclick="openPopup()">Add Vehicle</button>
    </div>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="input-container popup shadow">
            {{ form.vehicleName }}
            {{ form.speedLimit }}
            {{ form.code }}
            <div class="btn">
                {{ form.submit }}
            </div>
        </div>
    </form>

    <a class="redirect" href="{{url_for('logout')}}">Press here to logout</a>
    </div>
<script>
    let popup = document.querySelector(".popup");

    function openPopup() {
        popup.classList.add("open-popup");
        document.addEventListener("click", Outside);
    }

    function closePopup() {
        popup.classList.remove("open-popup");
        document.removeEventListener('click', Outside);
    }

    function Outside(event) {
        if (!popup.contains(event.target) && !document.querySelector('.add').contains(event.target)) {
            closePopup();
        }
}
</script>
</body>

</html>