<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <title>Dashboard</title>
</head>

<body>
    <div class="wrapper shadow">
    <h1>Hello {{ current_user.username }}. You are logged in.</h1>
    <table class="table">
        <tr>
            <th>Vehicle Name</th>
            <th>Speed Limit</th>
            <th>Code</th>
        </tr>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle.vehicleName }}</td>
            <td>{{ vehicle.speedLimit }}</td>
            <td><a class="redirect" href="{{ url_for("vehicle", code=vehicle.code ) }}">{{ vehicle.code }}</a></td>
        </tr>
        {% endfor %}
    </table>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="input-container">
            {{ form.vehicleName }}
            {{ form.speedLimit }}
            {{ form.code }}
            <div class="btn">
                {{ form.submit }}
            </div>
        </div>
    </form>

    <a class="redirect" href="{{url_for('logout')}}">Press here to logout</a>
    </div>
</body>

</html>