<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <title>Vehicle</title>
</head>

<body>
    <div class="wrapper shadow">
    <h1>Current Vehicle: {{ vehicleName }}</h1>

    <p id="curSpeed">Current Speed: 0km/h</p>
    <p>Speed Limit: {{ speedLimit }}km/h</p>
    <p id="test">The vehicle is under the speed limit.</p>

    <a class="redirect" href="{{ url_for('home') }}">Return Home</a>
    <p>
    <a class="redirect" href="{{ url_for('dashboard') }}">Return To Dashboard</a>
    </div>
</body>
<script>
    const speed = {{speedArray|tojson}};
    var secondsLeft = 99, deltaSpeed, i = Math.floor(Math.random() * speed.length-100), displayedSpeed=0;
    var timerId = setInterval(countdown, 1000);
    modifyTimer(0); //Initialize Timer UI

    function countdown() {
        if (secondsLeft == 0) { document.getElementById('test').textContent = "End of tracking"; }
        else { simulateTracking(); }
    }

    function simulateTracking() {
        secondsLeft--;
        deltaSpeed = Math.round(Math.abs(speed[i] - Math.min(...speed)))
        i++;
        //Refresh UI
        document.getElementById('curSpeed').textContent = "Current Speed: " + deltaSpeed + "km/h";
        if (deltaSpeed > {{speedLimit|tojson}}) 
        {
        if (deltaSpeed > displayedSpeed) { displayedSpeed = deltaSpeed }
            document.getElementById('test').textContent = displayedSpeed + "km/h! The vehicle exceeded the speed limit!";
        }
    }
</script>

</html>