<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle</title>
</head>

<body>
    <h1>Current Vehicle: {{ vehicleName }}</h1>

    <p>Current Speed: {{ currentSpeed}}</p>
    <p>Speed Limit: {{ speedLimit }}</p>
    <p>{{ text }}</p>

    <a href="{{ url_for('home') }}">Return Home</a>
    <p>
    <a href="{{ url_for('dashboard') }}">Return To Dashboard</a>
</body>

</html>